/* src/App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tùy chỉnh thêm nếu cần */
@layer components {
  .custom-container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}