@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Be Vietnam Pro', sans-serif;
  }
}

@layer components {
  .btn-primary {
    @apply px-6 py-3 bg-primary text-white rounded-full font-semibold hover:bg-blue-700 transition shadow-lg;
  }
}